*{
    
    font-family:'Nunito Sans', sans-serif; 
    -ms-text-size-adjust: auto;
 
 }
 

body{
    background-color: rgb(243, 231, 231);
   
}

.box {
    border: 5px solid rgb(8, 11, 8);
    border-radius: 15px; 

}

.profolio-box {
    border: 5px solid rgb(8, 11, 8);
    border-radius: 15px;
  

}

#employmentList{
    list-style: none;
    display: inline-block;

}

#educationList{
    list-style: none;
    display: inline-block;

}

#internshipsList{
    list-style: none;
    display: inline-block;

}

.profolio {
    margin-left: 30px;
}

  

img{
    
    width: 30%;
    border-radius: 50%;
    border: 5px solid rgb(254, 228, 253);
   display: block;
    margin: 0 auto;   

} 

.menubar .menu li {   
    display: inline-block; 
    list-style: none;
     
}

.menubar .menu li a{
    
    transition: all 0.5s;
    text-decoration: none;
    margin-right: 5px;
    
    

   
}


ul li {
    list-style: none;
}

.menubar .menu li a:hover{
    color: rgb(231, 149, 231);

}


.paragraf{
    line-height: 1.5rem;
    color: rgb(49, 46, 46);
    text-align: center;   
    
}

h3 h5 {
    margin-left: 15px;
}

.left-section{
    height: 100%;

}
h2 {
    margin-left: 30px;
}

.progress-bar{
    width: 100%;
    height: 0.2rem;
    background-color: rgb(202, 190, 190);
    position: relative;
    border-radius: 12px;

}
.progress{
    height: 100%;
    position: absolute;
    left: 0;
    background-color: royalblue;
    border-radius: 12px;


}
.usk{
    width: 90%;
}
.kompetens-title{
    font-size: 100%;
    
}
.försäljare{
    width: 50%;
    

}
.Html-Css{
    width: 40%
}

.Javascript{
    width: 20%;
}

.name{

    font-size: 1.5rem;
    color: rgb(44, 13, 13) ;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1.2rem 0;
    
}
.Title{
    font-size: 0.9rem;
    color: rgb(36, 10, 10);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-bottom: 1rem;
    border-bottom: 1px solid red;

}

.kontakt-info ul{
    padding-top: 0.5rem ;
    
}
.kontakt-info ul li{
    padding: 1.5rem o;
    display: flex;
    align-items: center;
    font-size: 90%;

}
.kontakt-info i{
    color: rgb(54, 4, 4);
    padding: 0.2rem 0; 
}

.kontakt-info ul li i{
    font-size: 1rem ;
    color: rgb(54, 4, 4);
    

}
.kompetens-section ul{
    padding-top: 0.2rem ;
    

}

.progress{
    height: 100%;
    width: 15%;
    position: absolute;
    left: 0;
    background-color: royalblue;
    border-radius: 12px;


}
.usk{
    width: 90%;
}
.kompetens-title{
    font-size: 100%;

    
}
.försäljare{
    width: 50%;

}
.Html-Css{
    width: 30%
}

.Språk-section li{
    display: grid;
    padding: 0.2rem 0;
}
.referens-section p{
    padding: 0.2rem 0;
    margin-left: 35px;

}
.Körkort-section li{
    display: grid;
    padding: 0.2rem 0;

}
.Hobbies-section li{
    display: grid;
    grid-template-columns: repeat(2.1fr);
    padding: 0.2rem 0;
}

.right-title{
    letter-spacing: 1px;
    text-transform: uppercase;
    color: steelblue;
    padding-bottom: 0.5rem;
    font-size: 100%;
    text-align: center;
    
} 
.main-title {
    margin-left: 20px;
}

 i {
    margin-right: 10px;
    padding-top: 10px;
}

.d1-title{
    letter-spacing: 1px;
    font-size: 0.8rem;
    text-transform: uppercase;
    padding-bottom: 0.5rem;
    position: relative;

    
}
.d1-title-2{
    letter-spacing: 1px;
    font-size: 0.8rem;
    text-transform: uppercase;
    padding-bottom: 0.5rem;
    position: relative;
    text-align: center;
}
.d1-content{
    border-left: 1px;
    padding-left: 2rem;
    text-align: center;
}

.date{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.comment-section{
    justify-items: center;
    
    
}
input textarea {
    width: 50%;
  
}

@media only screen and (max-width: 850px) {
    h2 { font-size: 3.5em;}
    h3 {font-size: 2.5em;}

    p {padding: 0;}



}

@media only screen and (max-width: 840px) {

    ul li {
        display: inline-block;
        padding-left: 15px;
        width: 140px;
        margin-right: 7px;
        line-height: 1.7em;
    }

}

button{
    font-size: 20px ;
    padding: 10px 20px;
    background-color: gray;
    border: none;
    outline: none;
    border-radius: 5px;
    box-shadow: 0 0 5px black ;
}

button:hover{
    background-color: lightskyblue;

}



